<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryan.opengles.sample05_01" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".Sample05_01">
        </activity>
    </application>

</manifest>
